@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;   
}

body{
    background-color: #fafafa;
    display: flex; 
    flex-direction: column;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    padding: 1rem 0 1rem 0;
    color:#7a7a7a;

}

table tr:nth-child(even){background-color: #f5f5f5;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1966fb;
    color: white;
}

.loader {
  border: 2px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

    .loader_device_overview {
        width: 360px;
        height: 100px;
        display: block;
        position: relative;
        background-image: linear-gradient(100deg, transparent, rgba(38, 50, 56, 0.5) 50%, transparent 80%), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0);
        background-repeat: no-repeat;
        background-size: 75px 100px,  125px 20px, 260px 20px, 260px 20px;
        background-position: 0% 0, 120px 0, 120px 40px, 120px 80px;
        box-sizing: border-box;
        animation: animloader 1s linear infinite;
      }
      .loader_device_overview::after {
        content: '';  
        box-sizing: border-box;
        width: 100px;
        height: 100px;
        border-radius: 8px;
        background: #FFF;
        position: absolute;
        top: 0;
        left: 0;
      }
      
      @keyframes animloader {
        0% {
          background-position: 0% 0, 120px 0, 120px 40px, 120px 80px;
        }
        100% {
          background-position: 100% 0, 120px 0, 120px 40px, 120px 80px;
        }
      }

      .MuiSnackbar-anchorOriginTopRight {
        top: 90px !important;
      }

@media screen and (min-width:0px) and (max-width:600px) {
    table tr:nth-child(even){background-color: "#000";}
}

.device select:required:invalid {
  color: gray;
}
.device option[value=""][disabled] {
  display: none;
}
.device option {
  color: black;
}

.crop-container {
  position: relative;
  width: 100%;
  height: 400px; /* Set desired height */
  background-color: #fff; /* Background color for the container */
  border: 2px solid #fff; /* Border color for the container */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Hide overflow */
}

.cropper {
  position: relative;
  width: 100%;
  height: 100%;
}

.cropper .reactEasyCrop_CropArea {
  border: 2px solid rgba(255, 255, 255, 0.7); /* Adjust border style as needed */
  border-radius: 50%; /* Make the crop area circular */
}

.cropper .reactEasyCrop_CropArea:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8); /* Make the overlay white and semi-transparent */
  border-radius: 50%; /* Match the crop area shape */
  z-index: 1;
  pointer-events: none; /* Allow interactions with the crop area */
}

.cropper .reactEasyCrop_CropAreaOverlay {
  background: none !important; /* Remove default overlay */
}

.cropper .reactEasyCrop_CropAreaOverlay:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* Overlay outside the crop area */
  z-index: -1;
  pointer-events: none; /* Allow interactions with the crop area */
}


